doctype html
html
  head
    meta(charset="utf-8")
    link(href="newTab.css", rel="stylesheet", type="text/css")
  body
    iframe(src="http://tumblub-staging.herokuapp.com/show?custom=tumblr.jgs.me&random=on")
